{% extends 'layout/base.html' %}

{% block content %}
{% if pages > 1 %}
<ul class="pagination mt-1">
    {% for i in range(1, pages + 1) %}
    <li class="page-item"><a class="page-link" href="/?page={{ i }}">{{ i }}</a></li>
    {% endfor %}
</ul>
{% endif %}


<div class="row">
    {% for c in courses %}
    <div class="col-md-3 col-12 p-2">
        <div class="card">

            <div class="card-body m-3">
                <h4 class="card-title">{{ c.title }}</h4>
                <p class="card-text">{{ c.description }}</p>
                <p class="card-text">Giảng viên: {{ c.instructor.fullName }}</p>
                <p class="card-text">{{ c.price }} VND</p>
                <a href="/" class="btn btn-primary">Đăng ký</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}