{% extends 'layout/base.html' %}

{% block content %}

<h1 class="text-center text-danger mt-1">ĐĂNG KÝ</h1>

<form method="post" action="/register" enctype="multipart/form-data">

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username" />
        <label for="username">Tên đăng nhập</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password">
        <label for="password">Mật khẩu</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="confirm" placeholder="Xác nhận mật khẩu" name="confirm">
        <label for="confirm">Xác nhận Mật khẩu</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="email" placeholder="Email" name="email" />
        <label for="username">Email</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="fullname" placeholder="Họ và tên" name="fullname" />
        <label for="username">Họ và tên</label>
    </div>

     <div class="form-floating mb-3 mt-3">
        <select class="form-control" id="role" name="role" required>
            <option value="STUDENT">Học viên</option>
            <option value="INSTRUCTOR">Giảng viên</option>
        </select>
        <label for="role">Vai trò</label>
    </div>


    <div id="evidenceDiv" class="form-floating mb-3 mt-3" style="display:none;">
        <input type="file" class="form-control" id="evidence" name="evidence" accept=".pdf,.jpg,.png">
        <label for="evidence">Minh chứng (PDF/JPG/PNG)</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <button class="btn btn-danger">Đăng ký</button>
    </div>
</form>
<script>
    function toggleEvidence() {
        let role = document.getElementById("role").value;
        let evidenceDiv = document.getElementById("evidenceDiv");
        evidenceDiv.style.display = (role === "INSTRUCTOR") ? "block" : "none";
    }

    document.getElementById("role").addEventListener("change", toggleEvidence);

    window.onload = toggleEvidence;
</script>
{% endblock %}

